@charset "utf-8";

#priv h1, #priv h2, #priv h3, #priv h4, #priv p {
	margin     : 0;
	padding    : 0;
	border     : 0;
	outline    : 0;
	font-size  : 1em;
	font-weight: normal;
}

#priv img {
	border: 0;
	vertical-align: top;
  display: block;
  vertical-align: top;
  margin-left: auto;
  margin-right: auto;
}

#priv {
  padding-bottom:20px;
  background:#fff;
}

#priv a img:hover{
  opacity: 0.8;
}

.btn_offer img{
    position: absolute;
    /*bottom:4%;
    left:50%;
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    width: 82.53%!important;*/
}
header{
  width: 100%;
  margin: 0 auto;
}

header img{
  width: 100%;
}
#fv_content{
  position: relative;
  width: 1500px;
  margin: 0 auto;
}
#fv_content .fv_1{
  position: absolute;
  top: 43px;
  left: 520px;
  z-index: 10;
}
#fv_content .fv_2{
  position: absolute;
  top: 237px;
  left: 730px;
  z-index: 11;
}
#fv_content .fv_3{
  width: auto;
  height: 393px;
  position: absolute;
  top: 292px;
  left: 450px;
  z-index: 0;
}
/*CV*/
.btn_cont{
  position: relative;
  width: 900px;
  margin: 0 auto;
}
.cv_gif{
  width: 865px;
  margin-top: -20px;
}
.btn1{
  position: absolute;
  top: 130px;
  right: 25px;
}
.btn2{
  position: absolute;
  top: 162px;
  left: 472px;
}
.cv_no1{
  position: absolute;
  top: 456px;
  right: 360px;
}

/*sectin*/
.section_title_wrapper{
  width: 100%;
  padding-top: 30px;
  height: 180px;
  background-image: url(../../img/sc_kg_nm_c05a/section_title_back.jpg);
  background-size: cover;
  box-sizing: border-box;
}
.sec1_07{
  margin-bottom: -114px;
}

.sec_2{
  margin-bottom: 25px;
}

.ketron_wrap{
  width: 100%;
  height: 1068px;
  box-sizing: border-box;
  padding-top: 111px;
  background-image: url(../../img/sc_kg_nm_c05a/sec1_08_back.jpg);
  background-repeat: repeat-x;
}
.sec3_05{
  margin-bottom: 40px;
}
.sec_5{
  margin-bottom: 40px;
}
.sec_7 {
  margin-bottom: 30px;
}

.cv_1{
  margin-bottom: 4%;
}
.cv_3{
  margin-bottom: 4%;
}
.cv_4{
  margin-bottom: 5%;
}