{{assign var="title" value="酵素分解ローヤルゼリーキング | 山田養蜂場"}}

<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "<a href="http://www.w3.org/TR/html4/loose.dtd" target="_blank" rel="noreferrer" style="cursor:help;display:inline !important;">http://www.w3.org/TR/html4/loose.dtd</a>">
<html lang="ja">
<head>
<!-- common resources -->
{{include file="/php/inc/meta/m_home.inc"}}
<!-- /common resources -->
  <meta charset="utf-8">
  <!-- ↓固定で書くソース（meta,titleの内容は各LPごとに更新） -->
    <!--
    <meta name="robots" content="index,follow">
-->
<meta name="keywords" content="">
<meta name="description" content="">
<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no">
<link rel="apple-touch-icon" href="/sp/images/icon.png">
<link rel="shortcut icon" href="/sp/images/favicon.ico">
    <!--
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Cache-Control" content="no-cache">
-->
<title>酵素分解ローヤルゼリーキング | 山田養蜂場</title>
<!-- ↑固定で書くソース -->

<!-- individual resources -->
<link rel="stylesheet" href="/sp/css/import.css" media="screen, projection">
<link rel="stylesheet" href="/sp/css/form_common.css" media="screen, projection">
<link rel="stylesheet" href="/sp/spo/res/css/custom_base.css" media="screen, projection" />

<!-- ↓フォームのタイトル背景などを変更する場合は、下記へスタイル記載して上書き -->

<!-- ↑フォームのタイトル背景などを変更する場合は、下記へスタイル記載して上書き -->

<!-- ↓訴求部分のスタイル -->
<link rel="stylesheet" href="/public/spo/res_tc/css/sc_kg_nm_c05a/style.css" type="text/css">
<link rel="stylesheet" href="/public/spo/res_tc/css/sc_kg_nm_c05a/animate.css" type="text/css">
<!-- ↑訴求部分のスタイル -->

<style type="text/css">.slideContent .slide{display:none;}.slideContent .slide:first-child{display:block;}#overLayerFb{display:none;}#overLayerFbInner{display:none;top:50%;margin:0 0 0 -125px;}.overLayer{display:none;}.overLayer2{display:none;}.closeContent{display:none;}.closeTxt{display:none;}.accordion2 .more{display:block;}.hasSelect .btn{display:none;}.formOpenCol{display:none;}.changeImg .imgCol li{display:none;}</style>
    <script src="/sp/js/jquery-1.6.4.min.js"></script>
    <script src="/sp/js/common.js"></script>
    <script type="text/javascript" async src="https://ssl.google-analytics.com/ga.js"></script>
    <script src="/sp/js/form_common.js"></script>
    <script src="/sp/js/hashchange.min.js"></script>


<!-- individual resources -->
{{include file="/spo/index_include_css.inc"}}
<link rel="stylesheet" href="/spo/res_ts/css/sc_kg_nm_c05a/custom.css" type="text/css">
<link rel="stylesheet" href="/spo/res_ts/css/sc_kg_nm_c05a/style.css" type="text/css">
{{include file="/spo/index_include_sys.inc"}}
<!-- /individual resources -->
</head>

<body screen_capture_injected="true">
    <!--  wrapper start -->
    <div id="wrapper">
      <a name="top" id="top"></a>
      <!-- contents -->
      <!-- ↓この部分に訴求部分のHTMLがインクルードされる想定 -->
      <!-- priv -->
      <div id="priv">
        <div class="fv">
          <div class="fv_inner">
            <header>
              <img src="/public/spo/res_tc/img/sc_kg_nm_c05a/header.jpg" alt="山田養蜂場 YAMADA BEE FARM おかげさまでローヤルゼリー健康食品7年連続No.1 ※2009年度から2015年度 ローヤルゼリー健康食品（錠剤、カプセル、粉末、ミニドリンクタイプ等の商品 形状対象）市場 メーカー出荷金額ベース シリーズ製品合算値 (株)矢野経済研究所調べ2016年12月現在">
            </header>
            <section id="fv_content">
              <p><img src="/public/spo/res_tc/img/sc_kg_nm_c05a/fv_back.jpg"></p>
              <p><img src="/public/spo/res_tc/img/sc_kg_nm_c05a/fv_1.png" class="fv_1" alt="こだわりのローヤルゼリーを独自製法で1粒に凝縮！"></p>
              <p><img src="/public/spo/res_tc/img/sc_kg_nm_c05a/fv_2.png" class="fv_2" alt="酵素分解ローヤルゼリーが 一番実感出来ました！※2 ※3 70代/男性 家族全員元気に過ごしています。※2 ※4 50代/女性 我が家のお守りみたいなローヤルゼリーです。※2 ※4 30代/女性 ご愛用者様飲用満足度94% ※5"></p>
              <p><img src="/public/spo/res_tc/img/sc_kg_nm_c05a/181016_FVgif.gif" class="fv_3"></p>
            </section>
            <p><img src="/public/spo/res_tc/img/sc_kg_nm_c05a/fv_3.jpg" alt="※2 個人の感想であり、商品の効能を確約するものではありません。 ※3 2014年07月26日投稿の口コミから一部抜粋。※4 2016年11月23日投稿の口コミから一部抜粋。※5 自社にてアンケート調査を実施。アンケート対象者:（ローヤルゼリー1年以内に購入の方) サンプル数:406人 調査方法:WEBアンケート 調査期間:7月~8月（2018年）。"></p>
          </div><!-- /.fv_inner -->
        </div><!-- /.fv -->
        <!-- cv_1 -->
        <section class="cv_1">
          <p><img src="/public/spo/res_tc/img/sc_kg_nm_c05a/CV_1.jpg" alt="酵素分解ローヤルゼリーキング 約6日分お試しセット 6包入（1包3粒）１,000円(税抜)"></p>
          <div class="btn_cont">
            <p><img src="/public/spo/res_tc/img/sc_kg_nm_c05a/181113_yamaho.gif" class="cv_gif"></p>
            <p><img src="/public/spo/res_tc/img/sc_kg_nm_c05a/CV_2.jpg" alt="※ 2009年度から2015年度 ローヤルゼリー健康食品（錠剤、カプセル、粉末、ミニドリンクタイプ等の商品形状対象）市場メーカー出荷金額ベース シリーズ製品合算値 (株)矢野経済研究所調べ2016年12月現在"></p>
            <p class="btn_offer"><a href="#form"><img src="/public/spo/res_tc/img/sc_kg_nm_c05a/btn1.png" alt="たった3分でお申込み完了！ 今すぐお試し" class="btn1"></a></p>
            <p><img src="/public/spo/res_tc/img//sc_kg_nm_c05a/cv_no1.png" alt="ローヤルゼリー健康食品7年連続売上No.1※3" class="cv_no1"></p>
          </div>

          <div class="btn_cont">
            <p><img src="/public/spo/res_tc/img/sc_kg_nm_c05a/CV_3.jpg" alt="長く続けてさらに実感したい方は 毎月届く定期コース 酵素分解ローヤルゼリー キング 100粒入 約1ヵ月分 通常価格5,715円(税別)(税込6,172円)送料無料 ※ローヤルゼリー製品については、喘息および食物アレルギーのある方は飲用をお控えください。"></p>
            <p class="btn_offer"><a href="#form"><img src="/public/spo/res_tc/img/sc_kg_nm_c05a/btn2.png" alt="定期コースで購入する" class="btn2"></a></p>
          </div>
          <p><img src="/public/spo/res_tc/img/sc_kg_nm_c05a/CV_4.jpg" alt="〜定期コースのご案内〜 定期コースは 「1ヵ月、2ヵ月、3ヵ月に1度」または「日数指定※」のいずれかを選択してお申し込みいただけます。最低購入回数はございません。いつでもお休みいただけます。発送の停止、変更、解約の際は発送予定日の1週間から10日前までに「お問い合わせフォーム」よりご連絡ください。※20日間隔、45日間隔と飲用ペースに合わせてお選びいただけます。"></p>
        </section>
        <!-- /cv_1 -->

        <!-- sec_1 -->
        <section class="sec_1">
          <div class="section_title_wrapper">
            <p><img src="/public/spo/res_tc/img/sc_kg_nm_c05a/sec1_01.png" alt="【酵素分解ローヤルゼリーキング】が7年連続第１位に選ばれる理由"></p>
          </div>
          <p><img src="/public/spo/res_tc/img/sc_kg_nm_c05a/sec1_02.jpg" alt="酵素分解ローヤルゼリーキング3つのこだわり 1 研究の末たどり着いた独自の製法 酵素分解 2栄養機能食品に加え40種類を超える 栄養成分 3素材から製造まで自社で行う生産体制"></p>
          <p><img src="/public/spo/res_tc/img/sc_kg_nm_c05a/sec1_03.jpg" alt="1 研究の末たどり着いた独自の製法 酵素分解 山田養蜂場独自の酵素分解技術で、タンパク質の構成要素であるペプチドやアミノ酸をスムーズに摂取できます。70年研究し続けたこの独自の製法により、含有量の増量に加え吸収効率のアップも実現しました。"></p>
          <p><img src="/public/spo/res_tc/img/sc_kg_nm_c05a/sec1_04.jpg" alt="2 必須ミネラルの亜鉛に加え40種類を超える 栄養成分 ローヤルゼリーはもちろん、ポリフェノールの一種で大豆の胚芽部分に多く含まれている「大豆イソフラボン」や、牡蠣や卵黄に多く含まれ若々しさを保つために重要な栄養素の「亜鉛」も豊富に含んでおります。どちらも40～50代以降の女性に、特におすすめしたい成分です。"></p>
          <p><img src="/public/spo/res_tc/img/sc_kg_nm_c05a/sec1_05.jpg" alt="3 素材から製造まで自社で行う 生産体制 ローヤルゼリーの採乳からはじまり、製造から最終検査まで決して手を抜く事なく徹底した生産体制で製造を行っております。232項目にも及ぶ品質検査を通過した製品は、製品のパッケージも汚れが無いかを確認し皆さまのお手元にお届けしております。"></p>
          <p><img src="/public/spo/res_tc/img/sc_kg_nm_c05a/sec1_06.jpg" alt="だから、山田養蜂場の「酵素分解ローヤルゼリーキング」はご愛飲者さまから高評価をいただいております！"></p>
          <p><img src="/public/spo/res_tc/img/sc_kg_nm_c05a/sec1_07.png" alt="99%が今後も飲み続けたいと回答！87%の方が実感！「元気が続く！」との声多数！※個人の感想であり、商品の効能を確約するものではありません。※自社にてアンケート調査を実施。アンケート対象者:（ローヤルゼリー1年以内に購入の方)サンプル数:406人 調査方法:WEBアンケート 調査期間:7月から8月（2018年）。" class="sec1_07"></p>
          <div class="ketron_wrap">
            <div class="people_wrap">
              <p><img src="/public/spo/res_tc/img/sc_kg_nm_c05a/sec1_08.jpg" alt="今年で89歳になりますが、元気に過ごしています。酵素分解ローヤルゼリーキングを長年続けているおかげだと思っています。80代／女性 ※1 家事をするのもつらい時に飲み始めました。主人にも両親にも勧めて、家族全員元気に過ごしています。50代／女性 ※2 体調管理に、これからも続けていきたいと思っています。60代／男性 ※3 今までに同じような商品を試してきましたが、酵素分解ローヤルゼリーが一番実感出来ました！60代／男性 ※4"></p>
              <p><img src="/public/spo/res_tc/img/sc_kg_nm_c05a/sec1_09.jpg" alt="※画像はイメージです。 ※個人の感想であり、商品の効能を確約するものではありません。 ※1 2016年3月20日投稿の口コミから一部抜粋。※2 2016年11月23日投稿の口コミから一部抜粋。 ※3 2015年11月7日投稿の口コミから一部抜粋。 ※4 2014年7月26日投稿の口コミから一部抜粋。"></p>
            </div>
          </div>
        </section>
        <!-- sec_1 -->

        <section class="sec_2">
          <p><img src="/public/spo/res_tc/img/sc_kg_nm_c05a/sec2_01.jpg" alt="ローヤルゼリー健康食品 7年連続No.1 ※2009年度から2015年度 ローヤルゼリー健康食品（錠剤、カプセル、粉末、ミニドリンクタイプ等の商品 形状対象）市場 メーカー出荷金額ベース シリーズ製品合算値 (株)矢野経済研究所調べ2016年12月現在"></p>
          <!-- cv_2 -->
          <div class="sec_2">
          <p><img src="/public/spo/res_tc/img/sc_kg_nm_c05a/CV_0.jpg" alt="まずは6日間であなたも実感してみませんか？"></p>
          <p><img src="/public/spo/res_tc/img/sc_kg_nm_c05a/CV_1.jpg" alt="酵素分解ローヤルゼリーキング 約6日分お試しセット 6包入（1包3粒）１,000円(税抜)"></p>
          <div class="btn_cont">
            <p><img src="/public/spo/res_tc/img/sc_kg_nm_c05a/181113_yamaho.gif" class="cv_gif"></p>
            <p><img src="/public/spo/res_tc/img/sc_kg_nm_c05a/CV_2.jpg" alt="※ 2009年度から2015年度 ローヤルゼリー健康食品（錠剤、カプセル、粉末、ミニドリンクタイプ等の商品形状対象）市場メーカー出荷金額ベース シリーズ製品合算値 (株)矢野経済研究所調べ2016年12月現在"></p>
            <p class="btn_offer"><a href="#form"><img src="/public/spo/res_tc/img/sc_kg_nm_c05a/btn1.png" alt="たった3分でお申込み完了！ 今すぐお試し" class="btn1"></a></p>
            <p><img src="/public/spo/res_tc/img//sc_kg_nm_c05a/cv_no1.png" alt="ローヤルゼリー健康食品7年連続売上No.1※3" class="cv_no1"></p>
          </div>
          <div class="btn_cont">
            <p><img src="/public/spo/res_tc/img/sc_kg_nm_c05a/CV_3.jpg" alt="長く続けてさらに実感したい方は 毎月届く定期コース 酵素分解ローヤルゼリー キング 100粒入 約1ヵ月分 通常価格5,715円(税別)(税込6,172円)送料無料 ※ローヤルゼリー製品については、喘息および食物アレルギーのある方は飲用をお控えください。"></p>
            <p class="btn_offer"><a href="#form"><img src="/public/spo/res_tc/img/sc_kg_nm_c05a/btn2.png" alt="定期コースで購入する" class="btn2"></a></p>
          </div>
          <p><img src="/public/spo/res_tc/img/sc_kg_nm_c05a/CV_4.jpg" alt="〜定期コースのご案内〜 定期コースは 「1ヵ月、2ヵ月、3ヵ月に1度」または「日数指定※」のいずれかを選択してお申し込みいただけます。最低購入回数はございません。いつでもお休みいただけます。発送の停止、変更、解約の際は発送予定日の1週間から10日前までに「お問い合わせフォーム」よりご連絡ください。※20日間隔、45日間隔と飲用ペースに合わせてお選びいただけます。"></p>
          </div>
          <!-- /cv2 -->
          <p><img src="/public/spo/res_tc/img/sc_kg_nm_c05a/sec2_02.jpg" alt="おかげさまでローヤルゼリー健康食品7年連続売上No.1※ 2009年度から2015年度ローヤルゼリー健原食品（錠剤、カプセル、粉末、ミニドリンクタイプ等の商品形状対象）市場メーカー出荷金額ベースシリーズ製品合算値 （株）矢野経済研究所調べ2016年12月現在"></p>
          <p><img src="/public/spo/res_tc/img/sc_kg_nm_c05a/sec2_03.jpg" alt="イキイキとしたした毎日に欠かせない“健康力”「ローヤルゼリー」って何がすごいの？"></p>
        </section>

        <section class="sec_3">
          <div class="section_title_wrapper">
            <p><img src="/public/spo/res_tc/img/sc_kg_nm_c05a/sec3_01.png" alt="摂る、摂らないでこれだけちがう！女王蜂と働き蜂の差が歴然！"></p>
          </div>
          <p><img src="/public/spo/res_tc/img/sc_kg_nm_c05a/sec3_02.jpg" alt="ローヤルゼリーは女王蜂だけが食べ続けることのできる特別食。働き蜂も女王蜂も孵化してすぐは同じメスの幼虫ですが、ローヤルゼリーを食べ続けると…働き蜂とは全く違う姿に！毎日約2,000個もの卵を生むパワーを得ているのです！"></p>
          <p><img src="/public/spo/res_tc/img/sc_kg_nm_c05a/sec3_04.jpg" alt="そもそもハチミツとローヤルゼリーの違いって？ローヤルゼリー【原料】植物の花粉など【役割】女王蜂の特別食【色・味】乳白色のクリーム状の物質で、独特な酸味を持つ。【作られ方】働き蜂が花粉などの主原料を脚につけて巣へ持ち帰ります。持ち帰った花粉などを食べ、消化・分解し下咽頭腺と大あご腺から分泌し生成します。はちみつ【原料】花の蜜など【役割】働き蜂の主食【色・味】蜜源となる花の種類によって色や味、香りなどが異なる。【作られ力】働き蜂が花蜜をお腹に蓄え、消化酵素でショ糖やブドウ糖、果糖に分解。巣で羽を羽ぱたかせ糖度約80％になるまで水分を飛ばし生成します。どちらも希少な食べ物ですが…ローヤルゼリーのみミツバチの体内で生成されることが大きな違いです！"></p>
          <p><img src="/public/spo/res_tc/img/sc_kg_nm_c05a/sec3_05.jpg" alt="さらに！独自技術の酵素分解で、タンパク質の構成要素の摂取がスムーズに！" class="sec3_05"></p>
          <p><img src="/public/spo/res_tc/img/sc_kg_nm_c05a/181113_kyusyu.gif" class="kyusyu_gif"></p>
          <p><img src="/public/spo/res_tc/img/sc_kg_nm_c05a/sec3_06.jpg" alt="酵素分解されていないローヤルゼリーのタンパク質はアミノ酸がつながっているため、タンパク質をスムーズに摂取できない状態になっています。結果、胃液や膵液の酵素などによって、段階的に分解した後、小腸で吸収されます。一方、酵素分解ローヤルゼリーのタンパク質はアミノ酸やペプチドに分解され、体内へ摂取されやすい状態になっています。"></p>
          <p><img src="/public/spo/res_tc/img/sc_kg_nm_c05a/sec3_07.jpg" alt="だから！タンパク質の構成要素「ペプチド」・「アミノ酸」を効率よく摂取可能！"></p>
          <p><img src="/public/spo/res_tc/img/sc_kg_nm_c05a/sec3_08.jpg" alt="これら大幅な改善を叶えたのは…培ってきた研究の成果 1960年に創業者が独自の技術でローヤルゼリーを商品化して以来、半世紀以上もの長い時間をかけて、私たちはローヤルゼリーの研究を続けてきました。現在、研究の拠点は「みつばち健康科学研究所」へ移り、これからも健康を願う人々のために、ローヤルゼリーの秘めた力を探求しています。みつばち健事科学研究所"></p>
        </section>

        <section class="sec_4">
          <div class="section_title_wrapper">
            <p><img src="/public/spo/res_tc/img/sc_kg_nm_c05a/sec4_01.png" alt="類のないほどの、優れた栄養バランス！なんと！40種以上の栄養素を含有！"></p>
          </div>
          <p><img src="/public/spo/res_tc/img/sc_kg_nm_c05a/sec4_02.jpg" alt="健康に不可欠な栄養素 ミネラル類 鉄、銅、亜鉛、マグネシウム.マンガン、カルシウム、ナトリウム、カリウム、リン タンパク等を合成する栄養素 アミノ酸 アスパラギン酸、グルタミン酸、セリン、アルギニン、プロリン、チロシン、グリシン、アラニン、シスチン、タウリン、β−アラニン、r−アミノ酪酸 必ず食物から摂取しなければならない 必須アミノ酸 ロイシン、リジン、バリン、イソロイシン、フェニルアラニン、スレオニン、ヒスチジン、メチオニン、トリプファン 体調を整える宋養素 ビタミン類 ビタミンB1、ビタミンB2、ビタミンB6、ビオチン、パントテン酸、イノシトール、ナイアシン、葉酸、コリン ごく一部の天然物質にしか含まれない 天然成分 デセン酸（10ーハイドロキシーθー2ーデセン酸）"></p>
          <p><img src="/public/spo/res_tc/img/sc_kg_nm_c05a/sec4_03.jpg" alt="ローヤルゼリーは、その整った栄養バランスから“完全食”と言われています。"></p>
          <p><img src="/public/spo/res_tc/img/sc_kg_nm_c05a/sec4_04.jpg" alt="完全食とは？健康を維持するために必要な栄養を豊富に含んだ食品、あるいは食事のこと。ローヤルゼリーは炭水化物、タンパク質、ビタミン、ミネラル、脂質の5大栄養素を全て含み、バランスのとれた食生活をサポートします。健康と美容を保つためにはこれらの栄養をバランス良く摂ることが重要です！"></p>
          <p><img src="/public/spo/res_tc/img/sc_kg_nm_c05a/" alt=""></p>
        </section>

        <section class="sec_5">
          <div class="section_title_wrapper">
            <p><img src="/public/spo/res_tc/img/sc_kg_nm_c05a/sec5_01.png" alt="さらに！毎日が“もっと”輝くサポート素材を配合"></p>
          </div>
          <p><img src="/public/spo/res_tc/img/sc_kg_nm_c05a/sec5_02.jpg" alt="副成分1 ゆらぎがち、塞ぎ込みがちな毎日にハリとうるおいを！大豆イソフラボン ポリフェノールの一種で、大豆の胚芽部分に多く含まれています。リズムを崩しがちな40から50代以降の女性に、特におすすめしたい成分です。"></p>
          <p><img src="/public/spo/res_tc/img/sc_kg_nm_c05a/sec5_03.jpg" alt="副成分2 現代の食生活で不足しがちな必須ミネラル 亜鉛 牡蝸や卵黄に多く含まれ、若々しさを保つために重要な栄養素。必須ミネラルとも呼ばれています。"></p>
          <p><img src="/public/spo/res_tc/img/sc_kg_nm_c05a/sec5_04.jpg" alt="栄養機能食品 亜鉛 味覚を正常に保つのに必要な栄養素です。皮膚や粘膜の健康維持を助ける栄養素です。たんぱく質、核酸の代謝に関与して、健康の維持に役立つ栄養素です。本品は、多量摂取により疾病が治癒したり、より健康が増進するものではありません。亜鉛の摂りすぎは、銅の吸収を阻害するおそれがありますので、過剰摂取にならないよう注意してください。1日の摂取目安量を守ってください。乳幼児・小児は本品の摂取を避けてください。本品は、特定保健用食品と異なり、消費者庁長官による個別審査を受けたものではありません。"></p>
        </section>

        <!-- cv_3 -->
        <section class="cv_3">
          <p><img src="/public/spo/res_tc/img/sc_kg_nm_c05a/CV_0.jpg" alt="まずは6日間であなたも実感してみませんか？"></p>
          <p><img src="/public/spo/res_tc/img/sc_kg_nm_c05a/CV_1.jpg" alt="酵素分解ローヤルゼリーキング 約6日分お試しセット 6包入（1包3粒）１,000円(税抜)"></p>
          <div class="btn_cont">
            <p><img src="/public/spo/res_tc/img/sc_kg_nm_c05a/181113_yamaho.gif" class="cv_gif"></p>
            <p><img src="/public/spo/res_tc/img/sc_kg_nm_c05a/CV_2.jpg" alt="※ 2009年度から2015年度 ローヤルゼリー健康食品（錠剤、カプセル、粉末、ミニドリンクタイプ等の商品形状対象）市場メーカー出荷金額ベース シリーズ製品合算値 (株)矢野経済研究所調べ2016年12月現在"></p>
            <p class="btn_offer"><a href="#form"><img src="/public/spo/res_tc/img/sc_kg_nm_c05a/btn1.png" alt="たった3分でお申込み完了！ 今すぐお試し" class="btn1"></a></p>
            <p><img src="/public/spo/res_tc/img//sc_kg_nm_c05a/cv_no1.png" alt="ローヤルゼリー健康食品7年連続売上No.1※3" class="cv_no1"></p>
          </div>
          <div class="btn_cont">
            <p><img src="/public/spo/res_tc/img/sc_kg_nm_c05a/CV_3.jpg" alt="長く続けてさらに実感したい方は 毎月届く定期コース 酵素分解ローヤルゼリー キング 100粒入 約1ヵ月分 通常価格5,715円(税別)(税込6,172円)送料無料 ※ローヤルゼリー製品については、喘息および食物アレルギーのある方は飲用をお控えください。"></p>
            <p class="btn_offer"><a href="#form"><img src="/public/spo/res_tc/img/sc_kg_nm_c05a/btn2.png" alt="定期コースで購入する" class="btn2"></a></p>
          </div>
          <p><img src="/public/spo/res_tc/img/sc_kg_nm_c05a/CV_4.jpg" alt="〜定期コースのご案内〜 定期コースは 「1ヵ月、2ヵ月、3ヵ月に1度」または「日数指定※」のいずれかを選択してお申し込みいただけます。最低購入回数はございません。いつでもお休みいただけます。発送の停止、変更、解約の際は発送予定日の1週間から10日前までに「お問い合わせフォーム」よりご連絡ください。※20日間隔、45日間隔と飲用ペースに合わせてお選びいただけます。"></p>
        </section>
        <!-- /cv_3 -->

        <section class="sec_6">
          <div class="section_title_wrapper">
            <p><img src="/public/spo/res_tc/img/sc_kg_nm_c05a/sec6_01.png" alt="原材料の採取から梱包まで全製造工程で徹底したチェック体制"></p>
          </div>
          <p><img src="/public/spo/res_tc/img/sc_kg_nm_c05a/sec6_02.jpg" alt="収集情報を記録 国内外の養蜂場で採集したローヤルゼリーを、“いつ／どこで／誰が”採集したのかわかるように記録しています。ローヤルゼリーの検査 製造工程に進む前に、農薬、抗生物質などの混入を調べる各種品質検査を実施。海外産については公的分析機関の検査と併せて8回の検査を行います。製品化の工程 検査をクリアしたローヤルゼリーだけを製品化。この過程でもデセン酸量検査・酵素分解度・微生物検査・重金属の有無・粒の硬さや欠けていないかなどを確認します。"></p>
          <p><img src="/public/spo/res_tc/img/sc_kg_nm_c05a/sec6_03.jpg" alt="最終の製品検査 瓶に充填する際にも、万が一異物混入や粒不足が発生しないよう、金属探知機による検査、製品重量検査を行います。また梱包の際にもパッケージの汚れなどを検品します。製品を出荷 お客様の心の内にあるのは、“健康でいたい”という願い。そんな気持ちで商品を心待ちにされているお客様に対し、「感謝の気持ちも一緒にお届けしたい」と心をこめて梱包し、出荷しています。"></p>
          <p><img src="/public/spo/res_tc/img/sc_kg_nm_c05a/sec6_04.jpg" alt="実施する品質検査は全232項目 外観検査 味覚検査 鮮度確認 成分検査 デセン酸量検査 微生物検査 抗生物質検査 合成抗菌剤検査 残留農薬検査 重金属検査 酵素分解度検査 最終製品検査等"></p>
          <p><img src="/public/spo/res_tc/img/sc_kg_nm_c05a/sec6_05.jpg" alt="“ローヤルゼリー”にこだわる原点、それは…山田養蜂場の製品づくりの原点は、身体の弱い娘を持った創業者の想いから始まっています。以来、「家族に飲んで欲しい」と思える製品づくりを追求して参りました。デリケートな天然の素材であるローヤルゼリー。自社研究所および第三者機関で安全性が実証されたものだけを製品化。豊富な栄養をそのまま皆さまへお届けするため、山田養蜂場は徹底した鮮度管理を実現しました。"></p>
          <p><img src="/public/spo/res_tc/img/sc_kg_nm_c05a/sec6_06.jpg" alt="安心して私たちのローヤルゼリー製品をお試しください。養蜂一筋、70余年 山田養蜂場"></p>
        </section>

         <section class="sec_7">
          <div class="section_title_wrapper">
            <p><img src="/public/spo/res_tc/img/sc_kg_nm_c05a/sec7_01.png" alt="養蜂家品質のローヤルゼリーを、ご愛飲いただいているお客様の声"></p>
          </div>
          <p><img src="/public/spo/res_tc/img/sc_kg_nm_c05a/sec7_02.jpg" alt="まさかここまで実感があるとは思っていませんでした。正直なところ、健康食品ではあるので気休め程度に飲もうと思っていたのですが、まさかここまで実感かあるとは思っていませんでした。これから愛用していきます。※2015年6月23日投稿の口コミから一部抜粋。"></p>
          <p><img src="/public/spo/res_tc/img/sc_kg_nm_c05a/sec7_03.jpg" alt=ローヤルゼリーは良さを実感できました。サプリメントは色々試しましたか、ローヤルゼリーは良さを実感できました。元気に過ごすために、これから定期購入にしようと思います。※2016年11月19日投稿の口コミから一部抜粋。"></p>
          <p><img src="/public/spo/res_tc/img/sc_kg_nm_c05a/sec7_04.jpg" alt=自分の体には合うと思い、追加購人しました。初めて山田養蜂場さんのローヤルゼリーキングを購入しました。これは良い、自分の体には合うと思い、追加購入しました。体調管理に、これからも続けていきたいと思っています。※2015年11月7日投稿の口コミから一部祐粋。"></p>
          <p><img src="/public/spo/res_tc/img/sc_kg_nm_c05a/sec7_05.jpg" alt="「化粧品変えた？」と言われるくらい表情が明るくなった 飲み始めてしばらくすると、「化粧品変えた？」と言われるくらい表情か明るくなったようで、おっくうだった外出にも活力か沸いてきました。※2016年1月3日投稿の口コミから一部抜粋。※画像はイメージです。※個人の感想であり、商品の効能を確約するものではありません。"></p>
        </section>

        <!-- cv_4 -->
        <section class="cv_4">
          <p><img src="/public/spo/res_tc/img/sc_kg_nm_c05a/CV_0.jpg" alt="まずは6日間であなたも実感してみませんか？"></p>
          <p><img src="/public/spo/res_tc/img/sc_kg_nm_c05a/CV_1.jpg" alt="酵素分解ローヤルゼリーキング 約6日分お試しセット 6包入（1包3粒）１,000円(税抜)"></p>
          <div class="btn_cont">
            <p><img src="/public/spo/res_tc/img/sc_kg_nm_c05a/181113_yamaho.gif" class="cv_gif"></p>
            <p><img src="/public/spo/res_tc/img/sc_kg_nm_c05a/CV_2.jpg" alt="※ 2009年度から2015年度 ローヤルゼリー健康食品（錠剤、カプセル、粉末、ミニドリンクタイプ等の商品形状対象）市場メーカー出荷金額ベース シリーズ製品合算値 (株)矢野経済研究所調べ2016年12月現在"></p>
            <p class="btn_offer"><a href="#form"><img src="/public/spo/res_tc/img/sc_kg_nm_c05a/btn1.png" alt="たった3分でお申込み完了！ 今すぐお試し" class="btn1"></a></p>
            <p><img src="/public/spo/res_tc/img//sc_kg_nm_c05a/cv_no1.png" alt="ローヤルゼリー健康食品7年連続売上No.1※" class="cv_no1"></p>
          </div>
          <div class="btn_cont">
            <p><img src="/public/spo/res_tc/img/sc_kg_nm_c05a/CV_3.jpg" alt="長く続けてさらに実感したい方は 毎月届く定期コース 酵素分解ローヤルゼリー キング 100粒入 約1ヵ月分 通常価格5,715円(税別)(税込6,172円)送料無料 ※ローヤルゼリー製品については、喘息および食物アレルギーのある方は飲用をお控えください。"></p>
            <p class="btn_offer"><a href="#form"><img src="/public/spo/res_tc/img/sc_kg_nm_c05a/btn2.png" alt="定期コースで購入する" class="btn2"></a></p>
          </div>
          <p><img src="/public/spo/res_tc/img/sc_kg_nm_c05a/CV_4.jpg" alt="〜定期コースのご案内〜 定期コースは 「1ヵ月、2ヵ月、3ヵ月に1度」または「日数指定※」のいずれかを選択してお申し込みいただけます。最低購入回数はございません。いつでもお休みいただけます。発送の停止、変更、解約の際は発送予定日の1週間から10日前までに「お問い合わせフォーム」よりご連絡ください。※20日間隔、45日間隔と飲用ペースに合わせてお選びいただけます。"></p>
        </section>
        <!-- /cv_4 -->

        <div id="form"></div>
        </div><!-- /priv -->

        <script type="text/javascript">
            var data1 = '{"syncID":""}';
            var contact1 = JSON.parse(data1);
        </script>
        <script type="text/javascript">
            (function () {
                var tagjs = document.createElement("script");
                var s = document.getElementsByTagName("script")[0];
                tagjs.async = true;
                tagjs.src = "//s.yjtag.jp/tag.js#site=QFyRsYr,F17wKll,wucIHEN,dIqSGz1,B9wv2TM";
                s.parentNode.insertBefore(tagjs, s);
            }());
        </script>
        <noscript>
            <iframe src="//s.thebrighttag.com/iframe?c=QFyRsYr,F17wKll,wucIHEN,dIqSGz1,B9wv2TM" width="1" height="1" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
        </noscript>
        <!-- ↑この部分に訴求部分のHTMLがインクルードされる想定 -->
      </div>
    </body>
</html>